<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
    <h1>в етой странице мАи Данные </h1><br>
    <h2>
        <p>ФИО: {{ FIO }}</p>
        <p>Рост: {{ height }}</p>
        <p>Вес: {{ weight }}</p>
        <p>Возраст: {{ age  }}</p>
    </h2>
    <a href="{% url 'contacts' %}" style="background-color: blue; color: white; border-radius: 30px; padding: 12px; margin: 10px">Мои контакты</a>
    <a href="{% url 'home' %}" style="background-color: blue; color: white; border-radius: 30px; padding: 12px; margin: 10px">Домой</a>
</body>
</html>